html{
    box-sizing: border-box;
}
body{
    margin:0;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    background: linear-gradient(to top, #eed174 0%, #d46696 100%);
}
.calculator{
    background: rgba(28, 26, 77, 0.834);
    border: 2px solid black;
    padding-top: 30px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 5px 30px -5px rgba(0,0,0,0.6);
}
/*Display*/
.calculator-display{
  background: rgb(134, 128, 128);
  border: 2px solid rgb(60, 59, 59);
  color: white;
  margin: 10px;
  display: flex;
  border-radius: 10px 10px 0 0;
  align-items: center;
  justify-content: flex-end;
  max-width: 100%;
}
.calculator-display h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: "Arial", sans-serif;
  font-weight: 100;
  overflow-x: auto;
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Buttons */
.calculator-buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}
button {
  min-height: 50px;
  font-size: 20px;
  font-weight: 100;
  border: none;
  background: rgb(200, 200, 200);
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translateY(1px);
}

button:focus {
  outline: none;
}
.operator {
  background: rgb(47, 45, 45);
  color: white;
  font-size: 30px;
}

.clear {
  background: rgb(255, 40, 40);
  color: white;
}

.clear:hover {
  filter: brightness(90%);
}

.equal-sign-operator {
  grid-column: -2;
  grid-row: 2 / span 4;
  background: rgb(13, 206, 87);
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .calculator {
    width: 95%;
  }
}
